{% extends "base.html" %}

{% block title %}Blackjack{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Blackjack</h1>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p class="alert alert-info">{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div id="game-board" class="mt-4">
        <h2>Player Hand:</h2>
        <div id="player-hand">
            {% for card in session["player_hand"] %}
                <span class="card-symbol">{{ card | unicode_card }}</span>
            {% endfor %}
        </div>
        <p>Score: <span id="player_score">{{session["player_score"]}}</span></p>

        <h2>Computer Hand:</h2>
        <div id="dealer-hand">
            {% for card in session["computer_hand"] %}
                <span class="card-symbol">{{ card | unicode_card }}</span>
            {% endfor %}
        </div>
        <p>Score: <span id="computer_score">{{session["computer_score"]}}</span></p>

        <h3 id="result-message"></h3>
        
        <div class="button-container">
            <form action="{{ url_for('black_jack.add_card') }}" method="post">       
                <button class="btn btn-primary btn-lg" type="submit">Hit</button>
            </form>
            <form action="{{ url_for('black_jack.computer_move') }}" method="post">       
                <button class="btn btn-danger btn-lg" type="submit">Stand</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
