{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h1 style="color: green;">Index</h1>
    <h2>Welcome {{session["user"]}}!</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="text-center mt-4">
    <form action="{{ url_for('blackjack') }}" method="post">       
        <button class="btn btn-primary">Play Black Jack</button>
    </form>
</div>
{% endblock %}